In [ ]:
# code in chapter 3 of Python for Data Analysis

In [ ]:
# data structure

In [1]:
tup=4,5,6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup = tuple(['foo', [1, 2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [8]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [11]:
tup = (4, 5, 6)
a,b,c=tup
b

5

In [12]:
tup = 4, 5, (6, 7)
a,b,(c,d)=tup
d

7

In [14]:
a,b=1,2
b,a=a,b
a

2

In [15]:
b

1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a,b

(1, 2)

In [18]:
rest

[3, 4, 5]

In [19]:
a=(1,2,2,2,3,4,2)
a.count(2)

4

In [21]:
a_list=[2,3,7,None]
tup=('foo','bar','baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [22]:
gen=range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [24]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [25]:
b_list.pop(2)

'bar'

In [30]:
b_list.remove('foo')

ValueError: list.remove(x): x not in list

In [29]:
b_list

['red', 'baz', 'dwarf']

In [31]:
'dwarf' in b_list

True

In [32]:
'dwarf' not in b_list

False

In [33]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
x=[4,None,'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
a=[7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [36]:
b=['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [37]:
import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [38]:
bisect.bisect(c,5)

6

In [40]:
bisect.bisect(c,6)
c

[1, 2, 2, 2, 3, 4, 7]

In [43]:
seq=[7,2,3,7,5,6,0,1]

In [46]:
seq[1:5]

[2, 3, 7, 5]

In [48]:
seq[3:4]=[6,3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [49]:
some_list=['foo','bar','baz']

In [52]:
mapping={}

In [53]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [54]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [55]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [56]:
seq1=['foo','bar','baz']

In [57]:
seq2=['one','two','three']

In [58]:
zipped=zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [59]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [60]:
# dict
empty_dict={}

In [61]:
d1={'a':'some value','b':[1,2,3,4]}

In [62]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [63]:
d1[7]='an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [64]:
d1['b']

[1, 2, 3, 4]

In [65]:
'b' in d1

True

In [67]:
words=['apple','bat','bar','atom','book']
by_letter={}

In [68]:
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [69]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [70]:
hash('string')

8741956042517089203

In [71]:
hash((1,2,(2,3)))

1097636502276347782

In [72]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [73]:
d={}

In [74]:
d[tuple([1,2,3])]=5
d

{(1, 2, 3): 5}

In [78]:
# set
set=([2,2,2,1,3,3])
set

[2, 2, 2, 1, 3, 3]

In [77]:
{2,2,2,1,3,3}

{1, 2, 3}

In [79]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [80]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
a.intersection(b)

{3, 4, 5}

In [82]:
a & b

{3, 4, 5}

In [83]:
c=a.copy()

In [84]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
d=a.copy()
d &=b
d

{3, 4, 5}

In [86]:
my_data=[1,2,3,4]
my_set={tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [87]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [88]:
a_set.issuperset({1,2,3})

True

In [89]:
{1,2,3}=={3,2,1}

True

In [90]:
strings=['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [91]:
unique_lengths={len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [94]:
loc_mapping={val:index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [95]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
[[x for x in tup]for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [104]:
# function
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    
    else:
        return z/(x+y)

In [105]:
my_function(5,6,z=0.7)

0.06363636363636363

In [106]:
my_function(3.14,7,3.5)

35.49

In [97]:
a=None
def bind_a_variable():
    global a
    a=[]
bind_a_variable()

In [98]:
print(a)

[]

In [101]:
states=[' Alanama','Georgia!','Georgia','georgia','Fl0rIda','south carolina##','West virginia?']

In [102]:
import re
def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return result

In [103]:
clean_strings(states)

['Alanama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'South Carolina',
 'West Virginia']

In [107]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [109]:
clean_strings(strings,clean_ops)

['A', 'As', 'Bat', 'Car', 'Dove', 'Python']

In [110]:
for x in map(remove_punctuation, states):
    print(x)

 Alanama
Georgia
Georgia
georgia
Fl0rIda
south carolina
West virginia

In [111]:
# lambda function
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

In [118]:
# generators
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [119]:
dict_iterator = iter(some_dict)
dict_iterator

In [120]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [121]:
gen=squares()

In [122]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [123]:
# errors
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [124]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [125]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [126]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [127]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [128]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
# files and the operating system
path = 'examples/segismundo.txt'
f = open(path)
lines = [x.rstrip() for x in open(path)]
lines
f.close()